<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.grub">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    <activity
        android:name=".HomeActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>

    </activity>

    <activity
        android:parentActivityName=".HomeActivity"
        android:name=".Grub">
        <!--android:label="@string/app_name">-->
    </activity>

        <activity
            android:parentActivityName=".Grub"
            android:name=".DiarySelectActivity"
            android:label="select a grub diary date">
        </activity>

        <activity
            android:parentActivityName=".DiarySelectActivity"
            android:name=".DiaryActivity"
            android:label="your grub diary">
        </activity>

        <activity
            android:parentActivityName=".Grub"
            android:name=".AddEntryActivity"
            android:label="add an entry to your grub diary">
        </activity>

        <activity
            android:parentActivityName=".Grub"
            android:name=".AddTargetActivity"
            android:label="add your daily goal">
        </activity>

        <activity
            android:parentActivityName=".Grub"
            android:name=".AskActivity"
            android:label="ask about your grub">
        </activity>

        <activity
            android:parentActivityName=".DiaryActivity"
            android:name=".ChartDetailActivity"
            android:label="kcal overview">
        </activity>

    </application>

</manifest>
